USE [nexa_prod]
GO
/****** Object:  Table [dbo].[AccountingItems]    Script Date: 12/10/2009 13:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountingItems](
	[FullItemName] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF