USE [nexa_prod]
GO
/****** Object:  Table [dbo].[AccountingItemsXREF]    Script Date: 12/10/2009 13:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountingItemsXREF](
	[OLDCOL] [varchar](255) NULL,
	[NEWCOL] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF