USE [nexa_prod]
GO
/****** Object:  Table [dbo].[AmAdOa]    Script Date: 12/10/2009 13:27:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AmAdOa](
	[PID] [int] NULL,
	[AMCID] [int] NULL,
	[ADCID] [int] NULL,
	[OACID] [int] NULL
) ON [PRIMARY]
