USE [nexa_prod]
GO
/****** Object:  Table [dbo].[BizTypes]    Script Date: 12/10/2009 13:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BizTypes](
	[BizType] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF