USE [nexa_prod]
GO
/****** Object:  Table [dbo].[blocked_providers_remove_020909]    Script Date: 12/10/2009 13:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[blocked_providers_remove_020909](
	[providerid] [int] NULL,
	[title] [varchar](50) NULL,
	[create_dt] [smalldatetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF