USE [nexa_prod]
GO
/****** Object:  Table [dbo].[Closed]    Script Date: 12/10/2009 13:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Closed](
	[pid] [int] NULL
) ON [PRIMARY]
